.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    max-height: 800px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

h2{
    display: flex;
    justify-content: center;
    color: #0d6efd;
    margin-top: 2rem;
    margin-bottom: 1rem;
}