/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('https://raw.githubusercontent.com/felipegustinr/Archivos/Felipe-Rivas/frontend/shop/src/assets/img/background.png');
    background-size: cover;
    background-repeat: repeat;
}